@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('./assets/fonts/Montserrat-Regular.ttf') format('tff');
  /* You can specify other font properties like font-weight and font-style here if needed */
}
@font-face {
  font-family: 'Palanquin';
  src: url('./assets/fonts/Palanquin-Regular.woff') format('woff'),
        url('./assets/fonts/Palanquin-Regular.ttf') format('tff');
  /* You can specify other font properties like font-weight and font-style here if needed */
}
body{
  overflow-x: hidden;
}


