@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('./assets/fonts/Montserrat-Regular.ttf') format('tff');
  /* You can specify other font properties like font-weight and font-style here if needed */
}
@font-face {
  font-family: 'Palanquin';
  src: url('./assets/fonts/Palanquin-Regular.woff') format('woff'),
        url('./assets/fonts/Palanquin-Regular.ttf') format('tff');
  /* You can specify other font properties like font-weight and font-style here if needed */
}
body{
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



